@charset "utf-8";
/* CSS Document */
 
 /* ---------------------------------------------------- RESET */

html, body, div, form, p,
code, pre { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

/* ----------------------------------------------- TEMPLATE */

body { font: 14px/1.333 sans-serif; color: #444; background: #eee; }
a { color: #980905; }
a:hover, a:focus, a:active { text-decoration: none; }
h1 { margin: 0 0 0.5em; font-size: 36px; }
h2 { margin: 0 0 0.75em; font-size: 21px; }
h3 { margin: 0 0 0.333em; font-size: 16px; font-weight: normal; }
p { margin: 0 0 1.333em; }
em { font-style: italic; }
table { border-collapse: separate; border-spacing: 0; margin: 0; vertical-align: middle; }
th { font-weight: bold; }
th, td { padding: 5px 25px 5px 5px; text-align: left; vertical-align: middle; }
pre, code { font-family: monospace, sans-serif; font-size: 1em; color:#080; }

/* ------------------------------------------------------ TEMPLATE */

.container { position:relative; overflow:hidden; width:878px; padding: 40px 60px; border: 1px solid #ccc; margin: 40px auto 20px; background: #fff; -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.1); -moz-box-shadow: 0 0 15px rgba(0,0,0,0.1); box-shadow: 0 0 15px rgba(0,0,0,0.1); }

.container pre,
.container .prettyprint { padding: 0; border: 0; margin: 0 0 20px; font-size: 13px; background: #fff; }
.ribbon img { display: block; border: 0; }
.header { padding-right:80px; }
.header h1{text-align:center;}
.header p{font-weight: bold;}
.section { margin: 40px 0 20px; }
.example { padding: 20px; border: 1px solid #ccc; margin: 10px -20px 20px; }
.footer { margin: 20px 0 50px; font-size: 11px; color: #666; text-align: center; }
.footer a { color: #666; }
.weibo{background: none repeat scroll 0 0 #2DA1EC;border-radius: 3px 3px 3px 3px; color: #FFFFFF; padding: 5px; text-decoration:none;}
.weibo:hover{ opacity:0.8;}
.codebg{background:#000; padding:20px;}
.codebg code{color:#CCC;}
.codebg code span{color:#F00;}
.codebg pre{margin: 0; padding: 0; background: none;}